### Empty string literal = '' or ""
bool('')

In [6]:
#Empty list literal = [], List are mutable (changable)
bool([])

False

In [8]:
banner = list("congratulations")
print(banner)

['c', 'o', 'n', 'g', 'r', 'a', 't', 'u', 'l', 'a', 't', 'i', 'o', 'n', 's']

In [19]:
#List can store any data type
#Add value at the end of the list - use append
#Add itmes from one list to another lists - use extend method
#concatetation: combination of two lists, without modifying either of them
temps = []
temps.append(98.6)
temps.append(100.5)
print(temps)
      
er_temps = [102.2, 103.5, 101.1, 99.9] 
temps.extend(er_temps)
      
print(temps)
print(er_temps)

primary_care_doctors = ["Dr. Scholls", "Dr. Pepper"]
er_doctors = ["Doug", "Susan"]
all_docs = primary_care_doctors + er_doctors
print(primary_care_doctors)
print(all_docs)

[98.6, 100.5]
[98.6, 100.5, 102.2, 103.5, 101.1, 99.9]
[102.2, 103.5, 101.1, 99.9]
['Dr. Scholls', 'Dr. Pepper']
['Dr. Scholls', 'Dr. Pepper', 'Doug', 'Susan']

In [23]:
beatles = ["John"]
others=["George", "Ringo"]
print(beatles)
print(others)
#Add "Paul" to the end of the beatles list using the apporpirate list method
beatles.append("Paul")
print(beatles)

#Use the method on lists that allows you to add all values from one list to another
beatles.extend(others)
print(beatles)

['John']
['George', 'Ringo']
['John', 'Paul']
['John', 'Paul', 'George', 'Ringo']

In [29]:
#Indexing - zero based (first element is 0, second element is 1 and so on). list_name[index]
#Negative index to start from last. -1 indicate the last item. OR list_name[len(list_name) -1]
#.format(list_name[index])
#list_name.insert(index, "itmes")
#list_name[index]+="items"
#You can access a specific character on a string by using an index, but you cannot change it. Strings are immutable.

#del keyword will remove the items from the list, but it can be accessed if stored in other variable.
#In the below example, the first item is assign to list2 and than it was deleted from list1. But it is still in list2.
#But it is not in the list3, since it was assigned after the deletion.

list1=['a', 'b', 'c', 'd', 'e']
list2=list1[0]
del list1[0]
list3=list1[0]
print(list1)
print(list2)
print(list3)

['b', 'c', 'd', 'e']
a
b

In [30]:
#Remove
#list.remove(value). removes the first matching value/object. It does not do anything with the indexing.

myList = [1, 2, 3, 2]
myList.remove(2)
myList
#removes first occurence of 2

[1, 3, 2]

In [40]:
#Del, del list[index], removes the item at a specific index.

myList = [3, 2, 2, 1]

del myList[1]
# b = del myList[1], invalid syntax
 
myList

[3, 2, 1]

In [41]:
#pop, list.pop(index), removes the item at a specific index and returns it.

myList = [4, 3, 5]
 
a = myList.pop(1)
 
print(myList)
print(a)

[4, 5]
3

In [ ]:
#remove() delete the matching element/object whereas del and pop removes the element at a specific index.
#del and pop deals with the index. The only difference between two is that- pop return deleted the value from the list 
#and del does not return anything.
#Pop is only way that returns the object.
#Remove is the only one that searches object (not index).

#If you want to delete a specific object in the list, use remove method.
#If you want to delete the object at a specific location (index) in the list, you can either use del or pop.
#Use the pop, if you want to delete and get the object at the specific location.

#By default the pop method removes the last item - also refer to as LIFO - Last In, First Out

In [60]:
continents = ['Asia', 'South America', 'North America', 'Africa', 'Europe', 'Antarctica', 'Australia']
#Print continents that begin with the letter "A"

for country in continents:
    if country[0]=='A':
        print('* '+ country) #OR print('* {}'.format(country))

* Asia
* Africa
* Antarctica
* Australia

In [47]:
#copy method, copy_list = org_list.copy(), copy the list, and leave the original intact. any changes can be done in the copy

inventory =['shield', 'apple', 'sword', 'bow', 'boomerang']
inventory.remove('boomerang')
print(inventory)

#remove all the items from the inventory
for item in inventory:
    inventory.remove(item)
print(inventory)  #it skips every alternate items in the list becasue the original list gets mutated every time it reomves
#the for loops runs for index 0 first time in which index 0 object is 'shield'. the second time the for loop runs for index 1
# and now the index 1 will be sword shifting 'apple' to 0 index, since 'shield' will be removed after the first run

#use copy method that will leave the original list intact and will mutate only the copied list

for item in inventory.copy():
    inventory.remove(item)
print(inventory) #the original inventory list remains as it is and only the inventory.copy() list gets mutated

['shield', 'apple', 'sword', 'bow']
['apple', 'bow']
[]

In [15]:
#split method, list = string.split(), it turns the string into the list
quote = "to the moon and back"
words = quote.split() #it migh include the paramaters like quote.split("; ")
words

['to', 'the', 'moon', 'and', 'back']

In [8]:
#import time library
import time
for word in words:
    print(word)
    time.sleep(.9)

;

In [21]:
#join, converts list to the string. string = "seperator".join(list)
attendees = ['James', 'Ben', 'Ashley', 'Guil']
optional_attendees = ['Ken', 'George']
to_line = ', '.join(attendees)
cc_line='; '.join(optional_attendees)

print("To: {}".format(to_line))
print("Cc: " + cc_line)

To: James, Ben, Ashley, Guil
Cc: Ken; George

In [26]:
#list indside list
name=[
    ['Marsha', 'Carol', 'Greg'],
    ['Jan', 'Alice', 'Peter'],
    ['Cindy', 'Mike', 'Bobby']
]

#how to access Alice
print(name[1][1])
print(len(name))

for i in name:
    print (i)

Alice
3
['Marsha', 'Carol', 'Greg']
['Jan', 'Alice', 'Peter']
['Cindy', 'Mike', 'Bobby']

In [ ]:
#import pandas as pd
#import os
#os.getcwd()
#df1 = pd.read_csv("file path", header=none, delimeter=";", name=['my-datetime', 'event', 'country', 'user_id', 'source'])
#df2.head(100)
#df4.sample(5)
#df4.tail(2)
#df4[["my_datetime", "source"]]

#xml delimeter = <> </>

In [5]:
import pandas as pd
df1 = pd.read_excel("C:\\Users\Milan\Downloads\sample.xlsx")
#df1 = pd.DataFrame(data, columns= ['Name', 'Location'])
df1.head()

,Unnamed: 0,S.N,Name,OPEID,Location,Geographic Location,Enrollment Size,Carnegie Classification,Religious Affilation,Year Closed,Note,Links/Details,closed date,Verified through carnegie,2000,2005,2010,2015,2018,Reference
0,NaN,1,John Wesley University,293500.0,"High Point,North Carolina",Northeast,"4-year, very small, highly residential",NaN,Christian college,2018,university merged to Piedmont International Un...,NaN,2018-05-11 00:00:00,2018,NaN,NaN,NaN,NaN,Yes,https://en.wikipedia.org/wiki/John_Wesley_Univ...
1,NaN,2,Colorado Heights University,3289300.0,"Denver, Colorado",West,"Four-year, very small, highly residential",Special Focus Four-Year: Business & Management...,NaN,2017,NaN,NaN,2017-10-13 00:00:00,2015,NaN,NaN,NaN,Yes,No,NaN
2,NaN,3,Southern Catholic College,4128500.0,"Dawsonville, Georgia",South,8,21,Roman Catholic,2010,NaN,NaN,2010-03-31 00:00:00,2010,NaN,NaN,Yes,No,NaN,NaN
3,NaN,4,Vennard College,189400.0,"University Park, Iowa",Midwest,NaN,NaN,NaN,2008,NaN,NaN,2008-11-26 00:00:00,2005,NaN,Yes,No,NaN,NaN,NaN
4,NaN,5,O'More College of Design,2106401.0,"Franklin, TN",Southeast,"Four-year, very small, primarily nonresidential",NaN,NaN,2014,"In February 2018, it merged with Belmont Unive...",NaN,2014-12-08 00:00:00,2018,NaN,NaN,NaN,NaN,Yes,https://en.wikipedia.org/wiki/O'More_College_o...